/* password.css */

/* Password labels */
.current-password-label,
.new-password-label,
.confirm-new-password-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%; /* Need to have the same percentage as the parent */
    margin-bottom: 4px;
}

#current-password-toggler,
#new-password-toggler,
#confirm-new-password-toggler {
    padding: 1;
    cursor: pointer;
}

/* Password strength meter and feedback */
#password-meter {
    display: flex;
    width: 100%;
}

#password-feedback {
    width: 100%;
    gap: 0px;
    padding: 0px;
    font-size: 12px;
}

/* Password rules */
#password-rule-checker {
    width: 70%;
    margin-top: 0;
    font-size: 14px;
}
