/* password.css */

/* Password hide/show button */
.password-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#password-toggler {
    padding: 1;
    cursor: pointer;
}

/* Password strength meter and feedback */
#password-meter {
    display: flex;
    width: 100%;
}

#password-feedback {
    gap: 0px;
    padding: 0px;
    margin-top: -2px;
    margin-bottom: -2px;
    font-size: 12px;
}

/* Password rules */
#password-rule-checker {
    font-size: 14px;
    margin-top: -2px;
    margin-bottom: -2px;
}
