/* global.css */

* {
    box-sizing: border-box; /* Keep the component in-place inside its parent component */
}
html, body {
    /* 
     * Make the page as tall as the parent html element 
     * height: ~% requires the parent element to explicitly define their own height
     * Setting this to both html and body creates a chain: viewport -> html -> body -> child_element,
     * which makes child_element be able to use height: ~% to refer to the heights of body and html
    */
    /* Size */
    height: 100%;

    /* Spacing */
    margin: 0; /* Remove the scroll bar of the page, making the content to "touch" the edge of the viewport */
}
body {
    /* Layout */
    display: flex; /* Make it easier to align elements */
    flex-direction: column; /* Stack elements vertically; turns the main axis from horizontal (default) to vertical */

    /* Appearance */
    overflow: hidden; /* Prevent the page from scrolling */
}

.logout-btn-container {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Size */
    width: 100%;

    /* Spacing */
    margin-top: auto; /* Pushes the container toward the bottom */
    padding-bottom: 40px;
}

.back-to-dashboard-btn, .logout-btn {
    /* Spacing */
    padding: 6px 12px;

    /* Appearance */
    background: none;

    /* Font */
    font-size: 14px;

    /* Interaction */
    cursor: pointer; /* Replace the cursor with the pointer, when hovered over */
}
.back-to-dashboard-btn {
    /* Border */
    border: none;
}
.logout-btn {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Spacing */
    margin-top: 20px;
}
.back-to-dashboard-btn:hover, .logout-btn:hover {
    /* Decoration */
    text-decoration: underline;
}
.logout-btn:hover {
    /* Appearance */
    background-color: #ffb347;
}

/* Mobile responsive */
@media (max-width: 768px) {
    body {
        overflow: auto; /* Allows the page to be scrolled */
    }
}