/* global.css */

* {
    box-sizing: border-box; /* Keep the component in-place inside its parent component */
}
html, body {
    /* 
     * Make the page as tall as the parent html element 
     * height: ~% requires the parent element to explicitly define their own height
     * Setting this to both html and body creates a chain: viewport -> html -> body -> child_element,
     * which makes child_element be able to use height: ~% to refer to the heights of body and html
    */
    /* Size */
    height: 100%;

    /* Spacing */
    margin: 0; /* Remove the scroll bar of the page, making the content to "touch" the edge of the viewport */
}
body {
    /* Layout */
    display: flex; /* Make it easier to align elements */
    flex-direction: column; /* Stack elements vertically; turns the main axis from horizontal (default) to vertical */

    /* Appearance */
    overflow: hidden; /* Prevent the page from scrolling */
}

.back-to-dashboard-btn {
    /* Position */
    position: absolute;
    top: 16px;
    left: 16px;

    /* Spacing */
    padding: 4px 16px; /* Keep distances between buttons */
    margin-bottom: 16px;

    /* Interaction */
    cursor: pointer; /* Replace the cursor with the pointer, when hovered over */
}

/* Mobile responsive */
@media (max-width: 768px) {
    body {
        overflow: auto; /* Allows the page to be scrolled */
    }
}