/* variables.css */

/* Basic section divider */
.card {
    /* Layout */
    display: flex; /* Make it easier to align elements */
    flex-direction: column; /* Stack elements vertically; turns the main axis from horizontal (default) to vertical */

    /* Spacing */
    padding: 16px; /* Control the distance between the content and the border */
    margin-bottom: 16px; /* Control the distance outside the border */

    /* Border */
    border: 2px solid #ddd; /* Control the thickness, style and color of the border */
    border-radius: 12px; /* Control the roundness of the corners of the border */
}
.card h4 {
    /* Spacing */
    margin-top: 0; /* Remove the default margin (8) to keep each card element closer */
    margin-bottom: 8px; /* Lower the gap between the card header and the card content */
}