/* message.css */

/* Each message input group contains a input text field and a button (send) */
.message-input-group {
    /* Layout */
    display: flex;
}
/* Message input in Dashboard page */
#message-input {
    /* Layout */
    flex: 1;

    /* Size */
    width: 100%; /* Make this element as wide as its parent (card in this case) */
    height: 100%; 

    /* Spacing */
    margin-right: 2px; /* Keep distance between the message input field and the send button */
}
.send-btn {
    height: 100%;
}

/* Conversation in Dashboard page */
#conversation {
    /* Size */
    height: 400px;

    /* Spacing */
    margin: 0; /* Remove the spaces at the top and bottom of the list */
    padding: 0; /* Align the list items closer to the left border */

    /* Appearance */
    list-style: none; /* Remove the bullet markers from the list items */
    overflow-y: scroll; /* Enables the scroller when message list overflows the component */

    /* Browser UI */
    scrollbar-width: thin; /* Control the thickness of the scroll bar */
}

#conversation li {
    height: 70px;
}