/* message.css */

/* Message input in Dashboard page */
#input {
    /* Size */
    width: 100%; /* Make this element as wide as its parent (card in this case) */

    /* Spacing */
    margin-bottom: 4px;
}

/* Messages in Dashboard page */
#messages {
    /* Layout */
    flex: 1;

    /* Size */
    min-height: 0;

    /* Spacing */
    margin: 0; /* Remove the spaces at the top and bottom of the list */
    padding: 0; /* Align the list items closer to the left border */

    /* Appearance */
    list-style: none; /* Remove the bullet markers from the list items */
    overflow-y: auto;

    /* Browser UI */
    scrollbar-width: thin; /* Control the thickness of the scroll bar */
}