/* room.css */

/* Rooms container in Dashboard page */
#rooms-container {
    /* Layout */
    display: flex; /* Make it easier to align elements */
    flex-direction: column; /* Stack elements vertically; turns the main axis from horizontal (default) to vertical */

    /* Spacing */
    gap: 10px; /* Keep some spaces between each room container */
}
.room-row {
    /* Layout */
    display: flex; /* Make it easier to align elements */
    
    /* Spacing */
    gap: 3px; /* Keep some spaces between each buttons inside the room container */
}

/* Room, leave and delete buttons in Dashboard page */
.btn {
    /* Layout */
    display: flex; /* Allow flexible alignment of button contents */
    justify-content: flex-start; /* Align the text inside the button to the center */

    /* Size */
    width: 100%; /* Make this element as wide as its parent (room-row in this case) */
    min-width: 0; /* Unify the size of the buttons, rather than based on text inside the button */
    max-width: 100px; /* Limit the width of the buttons to prevent the left panel from expanding due to long room name */

    /* Spacing */
    padding: 4px 16px; /* Keep distances between buttons */

    /* Border */
    border: 1px solid gray; /* Control the thickness, style and color of the border */
    border-radius: 8px; /* Control the roundness of the corners of the border */

    /* Interaction */
    cursor: pointer; /* Replace the cursor with the pointer, when hovered over */
    user-select: none; /* Prevent the user from dragging and selecting texts inside the button */

    /* Effect */
    transition: transform 0.15s ease; /* Define the detail on transformation on the button */
}
.btn span {
    /* Appearance */
    overflow: hidden; /* Truncate the room name to make it fit inside the room button */
    text-overflow: ellipsis; /* Add overflow indicator (...) to truncate the room name */
}
.btn:hover {
    /* Appearance */
    background-color: #ffb347; /* Control the color of the background of this element */
}
.btn:active {
    /* Effect */
    transform: scale(0.95); /* Shrink the size of the button */
}