/* room.css */

/* Rooms container in Dashboard page. The Dashboard only has one container; the container has one room row per joined room */
#rooms-container {
    /* Layout */
    display: flex; /* Make it easier to align elements */
    flex-direction: column; /* Stack elements vertically; turns the main axis from horizontal (default) to vertical */

    /* Spacing */
    gap: 10px; /* Keep some spaces between each room container */
}
.room-row {
    /* Layout */
    display: flex; /* Make it easier to align elements */
    
    /* Spacing */
    gap: 3px; /* Keep some spaces between each buttons inside the room container */
}

/* Each room input group contains a input text field and a button (create or join) */
.room-input-group {
    /* Layout */
    display: flex;
}
.room-input {
    /* Layout */
    flex: 1;

    /* Size */
    width: 100%; /* Make this element as wide as its parent (card-left in this case) */

    /* Spacing */
    margin-right: 2px; /* Keep distance between the room-related input field and the room-related button */
}
.create-btn,
.join-btn {
    height: 100%;

    /* Interaction */
    cursor: pointer; /* Replace the cursor with the pointer, when hovered over */
}

/* Room buttons (enters the room when clicked) in Dashboard page */
.room-btn {
    /* Layout */
    display: flex; /* Allow flexible alignment of button contents */
    justify-content: center; /* Align the text inside the button to the center */

    /* Size */
    width: 100%; /* Make this element as wide as its parent (room-row in this case) */
    min-width: 0; /* Unify the size of the buttons, rather than based on text inside the button */
    max-width: 160px; /* Limit the width of the buttons to prevent the left panel from expanding due to long room name */

    /* Spacing */
    padding: 4px 16px; /* Keep distances between buttons */

    /* Border */
    border: 1px solid gray; /* Control the thickness, style and color of the border */
    border-radius: 8px; /* Control the roundness of the corners of the border */

    /* Interaction */
    cursor: pointer; /* Replace the cursor with the pointer, when hovered over */
    user-select: none; /* Prevent the user from dragging and selecting texts inside the button */

    /* Effect */
    transition: transform 0.15s ease; /* Define the detail on transformation on the button */
}
.room-btn span {
    /* Appearance */
    overflow: hidden; /* Truncate the room name to make it fit inside the room button */
    text-overflow: ellipsis; /* Add overflow indicator (...) to truncate the room name */
}

/* Other buttons in Dashboard page */
.back-btn {
    /* Layout */
    display: flex; /* Allow flexible alignment of button contents */
    justify-content: center; /* Align the text inside the button to the center */

    /* Spacing */
    padding: 4px 16px; /* Keep distances between buttons */
    margin-bottom: 4px;

    /* Interaction */
    cursor: pointer; /* Replace the cursor with the pointer, when hovered over */
}

.leave-btn,
.delete-btn {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Border */
    border: 1px solid gray; /* Control the thickness, style and color of the border */
    border-radius: 8px; /* Control the roundness of the corners of the border */

    /* Interaction */
    cursor: pointer;

    /* Appearance */
    background-color: #f5f5f5;
}

.room-btn:hover,
.leave-btn:hover,
.delete-btn:hover {
    /* Appearance */
    background-color: #ffb347; /* Control the color of the background of this element */
}
.room-btn:active,
.leave-btn:active,
.delete-btn:active {
    /* Effect */
    transform: scale(0.95); /* Shrink the size of the button */
}

/* Adjustments on icon-displaying buttons */
.leave-icon,
.delete-icon {
    /* Size */
    width: 15px;
    height: 15px;
}

/* Room hover panel */
.room-container {
    position: relative;
}
.room-hover-panel {
    display: none;
    position: absolute;

    width: 200px;
    margin-top: 5px;
    padding: 5px;

    border: 1px solid #ccc;
    border-radius: 8px;
    background: white;

    z-index: 10;
}
.room-container:hover .room-hover-panel {
    display: block;
}
.room-hover-panel p {
    margin: 4px 0;
    font-size: 16px;
}