/* dashboard.css */

@import url("../components/dashboard/variables.css");
@import url("../components/dashboard/go-to-settings-link.css");
@import url("../components/dashboard/room/room.css");
@import url("../components/dashboard/room/room-hover-panel.css");
@import url("../components/dashboard/room/buttons.css");
@import url("../components/dashboard/message/conversation.css");
@import url("../components/dashboard/message/message-input.css");

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

/* Dashboard page */
.dashboard {
    /* Layout */
    display: flex; /* Make it easier to align elements */

    /* Size */
    width: 100%;
    height: 100dvh;

    padding: 10px;
}

.left-panel {
    /* Size */
    min-width: 300px;

    /* Spacing */
    padding: 10px; /* Keep distance between the component and the parent */

    /* Appearance */
    background-color: rgb(230, 230, 230); /* Control the color of the background of this element */
}

.right-panel {
    /* Layout */
    display: flex; /* Make it easier to align elements */
    flex-direction: column; /* Stack elements vertically */

    /* Size */
    width: 100%; /* Make this element as wide as its parent (dashboard in this case) */
    min-width: 0; /* Prevent horizontal scrolling */

    /* Spacing */
    padding: 0px 0px 0px 10px; /* Padding for the whole right panel: top-right-bottom-left*/
    gap: 10px; /* Gap between each component in right panel */
}

/* Components in the left panel of the Dashboard page */
.divider {
    /* Spacing */
    margin: 10px 0px 10px 0px; /* Control the distance between the divider and its surrounding components */

    /* Border */
    border: none; /* Remove the border from the horizontal line divider */
    border-top: 2px solid rgb(200, 200, 200); /* Add and control the thickness, style and color of the top border */
}

/* Mobile responsive */
@media (max-width: 768px) {
    .dashboard {
        /* Layout */
        flex-direction: column; /* Stack elements vertically */

        /* Size */
        min-height: 100dvh;
    }

    .left-panel {
        /* Layout */
        flex: 0 0 auto; /* Prevent the left panel (located on top of the right panel) from shrinking due to the expand of the right panel */
    }
    
    .right-panel {
        /* Size */
        min-height: 0; /* Enables the scroller when message list overflows the component */

        /* Spacing */
        padding: 10px 0 0 0;
    }
}
