/* dashboard.css */

/* Dashboard page */
.dashboard {
    display: flex;
    height: calc(100dvh - 50px);
}
.left-panel {
    width: 250px;
    flex-shrink: 0;
    background-color: gainsboro;
    padding: 20px;
}
.right-panel {
    flex: 1;
    min-width: 0;
    min-height: 0;
    padding: 20px;
    gap: 12px;

    display: flex;
    flex-direction: column;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
    height: auto;
  }
  .left-panel {
    width: 100%;
  }
  .right-panel {
    min-width: 0;
  }
}