/* settings.css */

/* Settings page */
.settings-page {
	/* Layout */
    display: flex; /* Make it easier to align elements */
    flex-direction: column;
    position: relative;

    /* Size */
    /* 100vh: Set the page at least as tall as the viewport */
    min-height: 100dvh; /* Extra handling the mobile view with dynamic view height (dvh) */
}
.settings-header {
    /* Size */
    width: 100%;

    /* Spacing */
    margin-top: 30px;
}
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Buttons */
.back-to-dashboard-btn, 
.logout-btn, 
.update-username-btn,
.open-password-update-panel-btn {
    /* Spacing */
    padding: 6px 12px;

    /* Appearance */
    background: none;

    /* Font */
    font-size: 14px;

    /* Interaction */
    cursor: pointer; /* Replace the cursor with the pointer, when hovered over */
}
.back-to-dashboard-btn {
    /* Border */
    border: none;
}
.logout-btn-container {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Size */
    width: 100%;

    /* Spacing */
    margin-top: auto; /* Pushes the container toward the bottom */
    padding-bottom: 80px;
}
.logout-btn, 
.update-username-btn {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Spacing */
    margin-top: 20px;
}
.update-username-btn,
.open-password-update-panel-btn {
    /* Spacing */
    margin-top: 5px;
    padding: 4px 8px;

    /* Border */
    border: 1px solid #959595;
    border-radius: 2px;
}
.back-to-dashboard-btn:hover, 
.logout-btn:hover, 
.update-username-btn:hover,
.open-password-update-panel-btn:hover {
    /* Decoration */
    text-decoration: underline;
}
.logout-btn:hover, 
.update-username-btn:hover,
.open-password-update-panel-btn:hover {
    /* Appearance */
    background-color: #ffb347;
}
.edit-password-panel-btn-container {
    /* Style */
    display: flex;
    justify-content: center; /* Horizontal positioning */

    /* Spacing */
    gap: 32px;
}

/* Overlay between info panel and edit password panel */
.overlay {
    /* Style */
    display: none;
    position: absolute;

    /* Spacing */
    top: 0;
    left: 0;

    /* Size */
    width: 100%;
    height: 100%;

    /* Decoration */
    background-color: rgba(0, 0, 0, 0.3);

    /* Composition */
    z-index: 10;
}
.overlay.visible {
    /* Style */
    display: block;
}

/* Information panel, edit password panel */
.info-panel, .edit-password-panel {
    /* Layout */
    align-items: center;
    flex-direction: column;

    /* Border */
    border: 1px solid #ccc;
}
.info-panel {
    /* Layout */
    display: flex;

    /* Spacing */
    margin: 20px auto; /* Giving spaces between the panel and other elements, while center-aligning it */

    /* Size */
    width: min(90%, 500px); /* Resizable, but only up to 500px; it takes 90% width on mobile view */
}
.info-panel h2 {
    /* Decoration */
    text-decoration: underline;
}
.edit-password-panel {
    /* Layout */
    display: none;
    position: absolute;

    /* Spacing */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Along with top and left 50%, locating the panel to the center of screen */

    /* Size */
    width: min(72%, 400px);

    /* Composition */
    z-index: 20; /* z-index is higher than the one in overlay, meaning that it will be displayed on top of overlay when visible */

    /* Decoration */
    background-color: white;
}
.edit-password-panel.visible {
    /* Layout */
    display: flex;
}

/* Elements inside the information panel */
.user-id-container,
.user-email-container,
.username-container,
.password-container {
    /* Layout */
    display: flex;
    flex-direction: column; /* Align each container vertically */
    align-items: center;

    /* Spacing */
    margin-bottom: 20px;
}
.username-container {
    /* Spacing */
    margin-bottom: 14px;
}
.user-id-value, 
.user-email-value, 
.password-value {
    /* Layout */
    display: block;

    /* Size */
    width: 250px;

    /* Spacing */
    padding: 6px 12px;

    /* Border */
    border: 1px solid #ccc;
    border-radius: 4px;

    /* Decoration */
    color: rgb(145, 145, 145);
}
.username-value {
    /* Size */
    width: 250px;

    /* Spacing */
    padding: 6px 12px;
}
.username-status {
    /* Spacing */
    margin-top: 6px;

    /* Decoration */
    font-size: 12px;
}