/* settings.css */

/* Settings page */
.settings-page {
	/* Layout */
    display: flex; /* Make it easier to align elements */
}

.settings-header {
    /* Size */
    width: 100%;

    /* Spacing */
    margin-bottom: 20px;
}