<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="title">Dashboard</title>
    <link rel="icon" type="image/png" href="giraffe-favicon.png">
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <!-- Buttons to other pages -->
    <div class="card">
      <a href="/friends"><button>Friends</button></a>
      <a href="/settings"><button>Settings</button></a>
      <a href="/signin"><button>Quit</button></a>
    </div>

    <!-- Room selection -->
    <div class="card">
      <div>
        <!-- Create a new room -->
        <label>Room name: </label>
        <input
          type="text"
          id="roomNameInCreateRoom"
          placeholder="Enter room name"
          maxlength="20"
          autocomplete="off"
        />
        <button class="create-btn">Create room</button>
      </div>
      <label> OR: </label>
      <!-- Join an existing room -->
      <div>
        <label>Room code: </label>
        <input
          type="text"
          id="roomCodeInJoinRoom"
          placeholder="Enter room code"
          maxlength="20"
          autocomplete="off"
        />
        <button class="join-btn">Join room</button>
      </div>
    </div>

    <!-- Room list -->
    <div class="card">
      <div><label>Room List: </label></div>
      <div id="rooms-container"></div>
    </div>

    <!-- Chatting room -->
    <div class="card">roomCodeInChat
      <div>
        <label id="roomCodeInChat">Room code: </label>
      </div>
      <div>
        <label id="userIdInChat">User ID: </label>
      </div>
    </div>

    <!-- Chat list -->
    <div class="card">
      <label>Message history: </label>
      <ul id="messages"></ul>
    </div>

    <!-- Current online users -->
    <div class="card">
      <label>Online User:</label>
      <ul id="onlineUsers"></ul>
    </div>

    <!-- Input and send message -->
    <div class="card">
      <label>Send Message: </label>
      <form id="form" action="">
        <input id="input" autocomplete="off" /> <button>Send</button>
      </form>
    </div>

    <!-- Create the SocketIO user -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- Handle user side dashboard services -->
    <script type="module" src="/pages/dashboard-page.js"></script>
  </body>
</html>
