<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="title">Sign In</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <h1>This is a sign in page</h1>

    <!-- Signin section -->
    <form id="signin-form">
      <label for="username"> Username: </label>
      <input
        id="username"
        type="text"
        placeholder="Enter your username"
        maxlength="16"
        required
      />
      <button type="submit" class="signinBtn">Sign in</button>
    </form>

    <a href="/signup">Go to Sign-Up</a>

    <!-- Handle client side sign-in services -->
    <script type="module" src="/signin-client.js"></script>
  </body>
</html>
