<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="title">Sign In</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <h1>This is a sign-in page</h1>

    <!-- Signin section -->
    <form id="sign-in-form">
      <label for="email"> Email: </label>
      <input
        id="email"
        type="email"
        placeholder="Enter your email"
        required
      />
      <label for="plainPassword"> Password: </label>
      <input
        id="plainPassword"
        type="password"
        placeholder="Enter your password"
        maxlength="16"
        required
      />
      <button type="submit">Sign in</button>
    </form>

    <a href="/signup">Go to Sign-Up</a>

    <!-- Handle user side sign-in services -->
    <script type="module" src="/pages/sign-in-page.js"></script>
  </body>
</html>
