<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="title">Sign In</title>
    <link rel="icon" type="image/svg" href="/assets/favicon.svg" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/pages/auth.css" />
  </head>

  <body class="auth-page">
    <div class="header">
      <h1>Giraffael</h1>
      <p>Long, but not alone.</p>
    </div>

    <!-- Signin -->
    <form id="sign-in-form">
      <label for="email"> Email: </label>
      <input id="email" type="email" placeholder="Enter your email" autocomplete="email" required />
      <label for="plainPassword"> Password: </label>
      <input
        id="plainPassword"
        type="password"
        placeholder="Enter your password"
        autocomplete="current-password"
        maxlength="16"
        required
      />
      <button type="submit">Sign in</button>
    </form>

    <a class="navigation-link" href="/signup">Go to Sign-Up</a>

    <!-- Handle user side sign-in services -->
    <script type="module" src="/pages/sign-in-page.js"></script>
  </body>
</html>
