/* styles.css */

#signin-form {
    justify-content: center;
    align-items: center;
}
#room-selection-section {
    justify-content: center;
    align-items: center;
}
#chat-section {
    justify-content: center;
    align-items: center;
}
